* {
    margin: 0;
}

body {
    background-color: #F3F3F3;
}

/* Nav bar section */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: #333;
    padding: 15px 40px;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav li {
    list-style: none;
}

li a {
    color: wheat;
    text-decoration: none;
    font-size: 1.3rem;
}

li a:hover {
    color: orangered;
}

.logo {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

/* ........Container section........... */

.price{
    width:100%;
    max-width:800px;
    margin:auto;
    padding:0px 20px 50px;
}

.hero-title {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display:grid;
    grid-template-columns:repeat(2,minmax(320px,1fr));
    gap:20px;
}

.card {
    border:1px solid #ddd;
    border-radius:18px;
    min-height:500px;
    padding:30px;
    background:#fff;
}

.veriant{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.puls{
    font-size: 2rem;
    font-weight: 800;
}

.popular{
    font-size: .8rem;
    color: rgb(214, 214, 241);
    background-color: #003f9d;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
}

.doller{
    color: #333;
}

.vertical{
    font-size: 30px;
    margin-top: 12px;
}

.usd{
    font-size: 4rem;
    color: black;
    font-weight: 900;
}

.unlock{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button{
    width: 280px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.ul .li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: -30px;
    font-size: 1.2rem;
}